<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Problem 1 | Multiples</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="problem_description-container">
        <h2>If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.</h2>
        <div class="question">Find the sum of all the multiples of 3 or 5 below 1000.</div>
      </div>
      <form action="/api/attempt/problem-1" method="POST">
        <div class="input-wrapper">
          <label for="name">Your Name</label>
          <input type="text" name="name" id="input-solution" autofocus required/>
        </div>
        <div class="input-wrapper">
          <label for="solution">Solution</label>
          <input type="text" name="solution" id="input-solution" required/>
        </div>
        <button type="submit">Submit Solution</button>
      </form>
      <a class="go-home" href="/">
        &#8592; home
      </a>
    </div>
  </body>
</html>